.newsletter {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 64px;

  @media screen and (max-width: 1000px) {
    display: block;
  }

  &FormBlock {
    min-width: 360px;
    max-width: 30%;

    @media screen and (max-width: 1000px) {
      margin-bottom: 72px;
    }

    @media screen and (max-width: 768px) {
      min-width: 100%;
      width: 100%;
      max-width: none;
      margin-bottom: 40px;
    }
  }

  &Title {
    margin: 0;
    font-family: var(--font-italiana), serif;
    font-weight: 300;
    font-size: calc(100vw * 0.03333333);
    margin-bottom: 24px;

    @media screen and (max-width: 1000px) {
      font-size: calc(48px * 0.792);
      line-height: 1.1;
      margin-bottom: 16px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 8px;
    }

    @media screen and (max-width: 560px) {
      font-size: calc(48px * 0.458);
    }
  }

  &Description {
    margin: 0;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.5px;

    @media screen and (max-width: 1000px) {
      margin-bottom: 36px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 8px;
    }

    @media screen and (max-width: 560px) {
      font-size: calc(16px * 0.93);
      margin-bottom: 0px;
    }
  }

  &Form {
    position: relative;
    width: 100%;
    max-width: 300px;
    border: none;
    border-bottom: 1px solid #36363d;
    display: flex;
    transition: border-color 0.2s linear;

    &Error {
      border-color: #ed5f59;
    }
  }

  &Input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 16px 0;
    color: #a2a2a4;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 27.2px;

    @media screen and (max-width: 560px) {
      font-size: calc(16px * 0.93);
    }
  }

  &Label {
    position: absolute;
    transform: translate3d(0, 16px, 0);
    transition: all 0.2s linear;
    pointer-events: none;
    left: 0;
    color: #6a6a70;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.5px;

    @media screen and (max-width: 560px) {
      font-size: calc(16px * 0.93);
    }

    &Up {
      transform: translate3d(0, -8px, 0) scale3d(1, 1, 1);
      color: #a2a2a4;
    }
  }

  &SubmitButton {
    border: none;
    background-color: transparent;
    padding: 5px 0 5px 20px;
    cursor: pointer;
  }

  &ValidationError {
    height: 14px;
    margin: 0;
    margin-bottom: 3px;
    color: #de5a55;
    font-size: 12px;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s linear;

    &Hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &InfoBlock {
    flex: 1;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1000px) {
      flex-direction: column-reverse;
    }
  }

  &Logo {
    align-self: flex-end;
    max-height: 80px;
    width: min-content;
    vertical-align: top;
    object-fit: contain;
    margin-bottom: 85px;

    @media screen and (max-width: 1000px) {
      align-self: flex-start;
      margin-bottom: 0;
    }
  }

  &NavHolder {
    display: flex;
    gap: 50px;

    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      gap: 32px;
      margin-bottom: 40px;
    }
  }

  &Contacts {
    max-width: 350px;
    width: calc(25% - 25px);

    @media screen and (max-width: 1000px) {
      width: calc(50% - 16px);
      max-width: calc(50% - 16px);
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      width: 100%;
    }

    &Title {
      margin: 0;
      margin-bottom: 16px;
      line-height: 1.7;
      letter-spacing: 0.5px;
      font-size: 16px;

      @media screen and (max-width: 560px) {
        font-size: calc(16px * 0.93);
      }
    }

    &Subtitle {
      margin: 0;
      line-height: 1.7;
      letter-spacing: 0.5px;
      font-size: 16px;

      @media screen and (max-width: 560px) {
        font-size: calc(16px * 0.93);
      }

      &Address {
        margin-bottom: 1.666rem;
      }
    }
  }

  &Link {
    display: block;
    cursor: pointer;
    position: relative;
    width: fit-content;
    max-width: 100%;
    color: #c28563;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.5px;

    @media screen and (max-width: 560px) {
      font-size: calc(16px * 0.93);
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #ecd9cf;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 1px;
      background-color: #c28563;
      transition: width 0.3s linear;
    }

    &:hover::after {
      width: 100%;
    }

    &Last {
      margin-bottom: 1.666rem;

      &Optional {
        @media screen and (max-width: 1000px) {
          margin-bottom: 0;
        }
      }
    }
  }

  &Navigation {
    margin: 0;
    padding: 0;
    max-width: 350px;
    width: calc(25% - 25px);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (max-width: 1000px) {
      width: calc(50% - 16px);
      max-width: calc(50% - 16px);
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      width: 100%;
      display: block;
      columns: 2;
    }
  }

  &Socials {
    margin: 0;
    padding: 0;
    max-width: 350px;
    width: calc(25% - 25px);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (max-width: 1000px) {
      width: calc(50% - 16px);
      max-width: calc(50% - 16px);
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      width: 100%;
      flex-direction: row;
      gap: 15px;
      flex-wrap: wrap;
    }
  }
}
