.magazine-scroll-wrapper {
  display: block;
  color: #a2a2a4;
  background-color: #141414;
  padding-top: 120px;

  @media screen and (max-width: 560px) {
    padding-top: 66px; //56px
  }

  :global {
    .slick-track {
      @media screen and (max-width: 767px) {
        display: flex;
        align-items: flex-end;
      }
    }

    .slick-slide:not(.slick-active) {
      opacity: 0.4;

      &>div>section {
        &> :last-child {
          opacity: 1;
        }

        &> :first-child {
          opacity: 0;
          max-height: 0;
        }

        &>div:has(img) {
          margin-top: 0;
          margin-bottom: 60px;

          @media screen and (max-width: 767px) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}